h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Dignidad como fundamento de la cultura humana', 'main.html#page/Dignidad_como_fundamento_de_la_cultura_humana/')
                    +navTemaItem('2', 'Habilidades para la vida y la convivencia', 'main.html#page/Habilidades_para_la_vida_y_la_convivencia/')
                    +navTemaItem('3', 'Proyecto de vida de acuerdo con los criterios de dignidad, respeto', 'main.html#page/Proyecto_de_vida_de_acuerdo_con_los_criterios_de_dignidad_respeto/')