.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td SENA, 2016, Solución de Conflictos.
                    td Manual
                    td 
                        a(href="media/documentos/Anexo_1_Manual_Solucion_de_conflictos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Video Empatía

                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Zhq5xC1DYis", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver                                      